<div>
  <h1 x-large class="sample-content">Description</h1>

  <hr>

  <div>
      
      This an application inspired by the hyperledger fabric v0.6 marble trading tutorial. This application handles the scenario when 3 people want to trading away their marbles with the fact that their wish can only be satisfy when the 3 people exchange their marbles at the same time in a circular way, ie, the successful exchange of marbles could not happen within one single trade. All trading logic happens in chaincode @ hyperledger fabric v1.0. 
  </div> 
  <h1 x-large class="sample-content">Potential application:</h1>
  ## Potential application:
  <div>
      This will greatly increase the liquidity of one asset, without limitaion to only digital currency, provided that there is a mechanism binding that physical asset into its digital representation
  </div>

  <hr>


</div>
